.Card{
  display: flex;
  
  gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  
}

.c1{
  
  height: 300px;
  width: 300px;
  
  background-color:brown;
  
}

.c2{
  
  height: 300px;
  width: 300px;
  background-color: rgb(220, 155, 75);
  
  color: black;
}